.self-pic {
	max-width: 50%;
	max-height: 50%;
}

.navbar-alternate{
	background-image: url("../images/background-img-copy.jpg"); 
	color: #000000;
}

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: url("../images/background-img-copy.jpg"); 
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	margin-left: 50px;
}